@font-face {
    font-family: yorkshire;
    src: url('/fonts/LTYorkshire-Regular.otf')
}
@font-face {
    font-family: ananda;
    src: url('/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf')
}


body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.logo {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    list-style: none;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}


.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px;
    width: 50%;
    z-index: 22;
}

.search-bar button {
    background-color: #000;
    color: gray;
    border: none;
    padding: 5px;
    cursor: pointer;
}


.search-bar button i {
    font-size: 20px;
    color : #fff;
}

.filter-menu {
    display : none;
    background: #f0f0f0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


.filter-menu button {
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
}


.filter-content {
    display: none;
    padding: 10px;

}
.checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 12px;
    display: block;
}

.filter-checkbox {
    display: none;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee; 
    border: 1px solid #ccc; 
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid black; 
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.filter-checkbox:checked ~ .checkmark:after {
    display: block;
}

#photo-contain {
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 0;

}
#photo {
    width: 100%;
    height: 900px;
    object-fit: cover;
    filter: brightness(40%); 
}
#logo-contain {
    position : fixed;
    top: 10px; 
    right: 10px;
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    border-radius: 50%; 
    transition: transform 0.3s;

}


#logo-top-right { 
    z-index: 2; 
    width: 24px; 
    transition: transform 0.3s;

}
#logo-contain:hover {
    transform: scale(1.2); 
}


#content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title {
    font-size: 96px; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px; 
    font-family: Arial, Helvetica, sans-serif;
}
#button-contain {
    display:flex ; 
    text-align: center;
    font-family : Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
.button {
    margin: 10px;
    padding: 15px 10px; 
    background-color: #000; 
    color: #fff; 
    border: 2px solid #fff; 
    cursor: pointer;
    font-size: 38px; 
    text-decoration: none;
}

.button:hover{
    background-color: #fff; 
    color: #000; 
}

#black-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background-color: #000; 
    z-index: 1; 
}

#discover-title {
    text-align: center;
    color: black;
    font-size: 74px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#discover-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80px; 
    height: 5px; 
    background-color: black;
}
#box-contain {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 100px;

}

.box {
    height: 400px;
    flex: 0 1 calc(25% - 20px); 
    background-color: #fff; 
    color: #fff; 
    text-align: center;
    padding: 10px;
    margin-bottom: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom : 200px;
    font-weight: bold;
}

.box img {
    width: 400px;
    max-height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.voir-button {
    display: block;
    background-color: #333; 
    color: #fff; 
    text-align: right;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #333;
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.voir-button:hover {
    background-color: #fff; 
    color: #333; 
    border: 2px solid #333;
}
.box p {
    font-size: 34px; 
    color: #333; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
}
.box img:hover {
    transform: scale(1.05);
}


.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;

    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;

    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;

    }
    
@media only screen and (max-width: 600px) {
    .title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .button {
        padding: 10px 20px;
        font-size: 18px;
    }
    #button-contain .button {
        padding: 10px 20px;
        font-size: 18px;
    }

    #button-contain .button:first-child {
        margin-right: 10px;
    }

    #button-contain {
        display: flex;
        justify-content: center;
    }

    #discover-title {
        font-size: 40px;
        padding-bottom: 20px;
    }

    #box-contain {
        flex-direction: column;
        margin-top: 10px;
    }

    .box {
        height: auto;
        flex: 0 1 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 20px;
    }

    .box img {
        width: 100%;
    }

    .voir-button {
        font-size: 16px;
        padding: 5px 10px;
    }

    .box p {
        font-size: 24px;
    }

    .footer .row ul {
        text-align: center;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0;
    }
}
    
